* {
    box-sizing: border-box;
}

body {
    background-color: cornflowerblue; 
    color: aliceblue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    margin: 0;
    overflow: hidden;
}


.guillo {
    stroke: aliceblue;
    stroke-width: 4px;
    stroke-linecap: round;
    fill: transparent;
}

.boiteGuillo {
    padding: 20px 30px;
    margin: auto;
    height: 350px;
    width: 450px;
    position: relative;
}

.membres {
     display: none; 
}

.erreurContainer {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    text-align: right;
}

.motCache {
    text-align: center;
    font-size: 30px;
    letter-spacing: 8px;
    font-weight: 500;
}

.boiteFin {
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none; 
    align-items: center;
    justify-content: center;
}

.popup {
    background-color: #21364e;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}

.popup button {
    background-color: white;
    color: #354961;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 15px;
}

.popup button:active {
    transform: scale(0.98);
}

.popup button:focus {
    outline: 0;
}

#clavier>input {
    height: 40px;
    width: 40px;
    margin: 1px;
    font-size: large;
    font-weight: bold;
    background-color:rgb(106, 185, 246);
    color: white;
}

#clavier {
    width: 26%;
}